.t{
     display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-decoration: none;
    color: black;
}
.hari{
      width: 600px;
    border: 3px solid ;
    background: rgba(255, 255, 255, 0.837);
    border radius: 20px;
    transition: all 0.3s ease;
    box-sizing: border-box;
}
.qazim{
         width: 600px;
    border: 3px solid #ffffff;
    background: rgba(255, 255, 255, 0.837);
    border radius: 20px;
    transition: all 0.3s ease;
    box-sizing: border-box; 
}
img{
    width: 48px;
}