body{
    margin: 0 auto;
    background-color: white;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #561C24;
}
nav li{
    float: right;
}
nav li a{
    display: block;
    color: #6D2932;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
nav li a:hover{
    background-color: #C7B7A3;
    color:aliceblue
}
img{
    width: 48px;
}