
body{
    margin:  0 auto;
    background-image: url('ocean underworld.jpg');
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0; 
    height: 100vh;
    color: white; 
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #C1E8FF;
}
nav li{
    float: center;
}
nav li a{
    display: block;
    color: #052659;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
nav li a:hover{
    background-color:#7DA0CA;
    color: white;
}
img{
    width: 356px;
    align-items: center;
}
.Whales{
    width: 600px;
    border: 3px solid #ffffff;
    background: rgba(255, 255, 255, 0.837);
    border radius: 20px;
    transition: all 0.3s ease;
    box-sizing: border-box;
}
.Dolphins{
    width: 600px;
    border: 3px solid #ffffff;
    background: rgba(255, 255, 255, 0.837);
    border radius: 20px;
    transition: all 0.3s ease;
    box-sizing: border-box;
}
.Octpuses{
    width: 600px;
    border: 3px solid #ffffff;
    background: rgba(255, 255, 255, 0.837);
    border radius: 20px;
    transition: all 0.3s ease;
    box-sizing: border-box;
}
.Jellyfish{
    width: 600px;
    border: 3px solid #ffffff;
    background: rgba(255, 255, 255, 0.837);
    border radius: 20px;
    transition: all 0.3s ease;
    box-sizing: border-box;
}

.Crab{
    width: 600px;
    border: 3px solid #ffffff;
    background: rgba(255, 255, 255, 0.837);
    border radius: 20px;
    transition: all 0.3s ease;
    box-sizing: border-box;
}
.Starfish{
    width: 600px;
    border: 3px solid #ffffff;
    background: rgba(255, 255, 255, 0.837);
    border radius: 20px;
    transition: all 0.3s ease;
    box-sizing: border-box;
}
.Seaturtles{
    width: 600px;
    border: 3px solid #ffffff;
    background: rgba(255, 255, 255, 0.837);
    border radius: 20px;
    transition: all 0.3s ease;
    box-sizing: border-box;
}
.I{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-decoration: none;
    color: black;
}