body{
    height: 100hv;
    background:(linear-gradient(120deg, #854F6C #DFB6B2 #FBE4D8));
    background-size: 600% 600%;
    animation: backgroundShift 20s ease infinite;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

@keyframes backgroundShift{
    0%{background position: 0% 50%; }
    50%{background-position: 100% 50%; }
    100%{background-position: 0% 50%}
}